.project-card {

    padding: 1rem;
    margin-bottom: 2.5rem;
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    font-family: monospace;
    color: #fff;
    transition: all .5s ease-in-out;
    box-shadow: inset 0px -1px 3px 2px white,0px 5px 7px -1px rgba(0,0,0,0.1);
    cursor: grab;
    
}

.project-card:hover{
    /* cursor: pointer; */
    transition: all .5s ease;
    transform: scale(1.02);
    /* box-shadow: 0px 5px 8px 2px var(--orange); */
    box-shadow: 27px -5px 28px -31px white,0px 3px 6px 2px orange;
}
.project-img{
    width: 100%;
}

.project-img img {
    width: 100%
}

.project-desc-content {
    font-size: 13px;
}
.project-desc-content h1{
    font-size: 24px;
}
.tech-stack-heading{
    margin-top: 1.5rem;
    margin-block-end: -0.7rem;
}

.project-tech-stack {
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.individual-tech-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.individual-tech-stack h4{
    font-size: 12px;
    font-weight: bold;
}

.project-icon {
    padding: .5rem;
    font-size: 2.5rem;
    border-radius: 2px;
    transition: var(--transition);
    cursor: pointer;
}
.project-icon:hover{
    color: #ebedeb;
    border-color: #ebedeb;
    background-color: black;
}

.project-desc-btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: -6px;
    text-transform: uppercase;
    
}

.project-desc-btn .btn {
    height: max-content;
    cursor: pointer;
    padding: 4px 8px;

}

.project-desc-btn .btn:hover {
    background-color: var(--color-primary);
}


@media screen and (max-width:1024px) {

    .project-card {
        grid-template-columns: 100%;
        padding: 0 .3rem;
    }

    .project-img img {
        width: 100%;
    }
}

/* ===== media query for mobile */
@media screen and (max-width:600px) {

    .project-card {
        padding: 0 .3rem;
        padding: 0;
    }

    .project-img img {
        width: 100%;
    }
    .project-desc-content {
        padding: 10px;
    }
    .individual-tech-stack h4{
        display: none;
    }
    .tech-stack-heading{
        text-align: center;
    }
    .project-tech-stack{
        width: fit-content;
        margin: auto;
    }

}