#project{
    padding-top: 5rem;
    /* padding: 2rem; */
    /* border: 1px solid red; */
    background: var(--color-white);
    color: black;
}
#project h1{
    text-align: center;
}
.project-container{
    padding: 2rem 4rem;
}

#project img{
    /* width: 85vw; */
    height: 50vh;
    /* border: 1px solid red; */
}



@media screen and (max-width:1024px){
    #project{
        padding-top: 2rem;
    }
    .project-container{
        padding: 2rem 1rem;
    }
}
   /* ===== media query for mobile */
   @media screen and (max-width:600px){
    #project{
        /* padding: 0; */
        padding-top: 2rem;

    }
    .project-container{
        padding: 2rem 0.5rem;
    }
}