header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    /* width: auto; */
    /* border: 1px solid green; */
    /* height: 100vh; */
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}
/* cta styling */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* ===header socials */
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* Me */
.me{
    /* border: 1px solid yellow; */
    /* position: relative; */
    background:linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    /* left: calc(50%-11rem); */
    /* left: 15rem; */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

}
.me img{
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100%; */
}

/*    scroll down */

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    transform: rotate(90deg);
    font-size: 0.9rem;
}
 
/* ===== media query for tabblet */
@media screen and (max-width:1024px){
   header{
    /* border: 1px solid purple; */
        height: 60vh;
        padding-top: 3rem;
    } 
}
/* ===== media query for mobile */
@media screen and (max-width:600px){
    header{
         height: 100vh;
         padding-top: 3rem;

     }
     .scroll_down,.header_socials{
        display: none;
     }

}