
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}
/* cta styling */
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.cta a,.ancherTag{
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    border: none;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
/* ===header socials */
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
}

/* Me */
.me{
    /* border: 1px solid yellow; */
    position: relative;
    
    background:linear-gradient(var(--color-primary),transparent);
    width: 20rem;
    height: 30rem;
    /* position: absolute; */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    margin-top: 2rem;

}
.me img{
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
}

/*    scroll down */

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    font-weight: 300;
    transform: rotate(90deg);
    font-size: 0.9rem;
}
 
/* ===== media query for tabblet */
@media screen and (max-width:1024px){
   header{
    /* border: 1px solid purple; */
        height: 60vh;
        padding-top: 3rem;
    } 
}
/* ===== media query for mobile */
@media screen and (max-width:600px){
    header{
         height: 100vh;
         padding-top: 3rem;

     }
     .scroll_down,.header_socials{
        display: none;
     }

}