#footer{
    background: radial-gradient(circle at 1.8% 4.8%, rgb(17, 23, 58) 0%, rgb(58, 85, 148) 90%);
    padding: 3rem 0;
    text-align: center;
    font-size: .9rem;
    margin-top: 5rem;
    box-sizing: border-box;
    position: relative;

}
#footer a{
    color: var(--color-white);
}
#footer a:hover{
    color: var(--orange);

}
.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footer_socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}
.footer_socials a:hover{
    background: transparent;
    color:var(--color-bg);
    border-color: var(--color-bg);
}
.footer_copyright{
    margin-bottom: 0;
    /* color: var(--color-bg); */
    color: black;
}
.arro{
    position: absolute;
    font-size: 4rem;
    right: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

 /* ===== media query for mobile */
 @media screen and (max-width:600px){
  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer_socials{
    margin-bottom: 2.6rem;
  }
  .arro{
    display: none;
  }
 }